.Previews {
    margin: 3vh 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.Previews.error li {

    background: rgba( 191 , 72 , 31 , .9 );
}

.Previews li {
    
    color: #fff;
    border-radius: 5px;
    background: rgb( 0,0,0,.93 );
}

.Previews li figure{
    
    display: flex;
    flex-direction: column;
}

.Previews li figure figcaption {
    
    margin: 2.5vh 0;
}

.Previews .ControlItem li  , .Previews .ControlItem {

    background: transparent;
}

.Previews .ControlItem {

    flex-direction: row;
    justify-content: space-between;
}