.ImgFilter {

    position: relative;
    margin: 0;
    display: inline-block;
    overflow: hidden;
    z-index: 100;
}

.ImgFilter img {

    z-index: -1;
    display: inline-block;
    height: auto;
}