.AccountItem button {

    border: none;
}
.AccountItem aside {

    font-size: 1.2rem;
}

.AccountItem {

    border-radius: calc(25px/2);
    background: rgb( 200,200,200 );
    transition: .25s linear all;
    padding: 1vh 2vh;
    margin: 3vh 0;
}

.AccountItem aside ul {

    display: flex;
    flex-direction: column;

}