.User h1 , .User blockquote {

    margin: 0;
    text-align: right;
    color: #fff;
    margin-right: 3vh;
    padding-top: 1.2vh;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .03rem;
}

.User {

    background: rgb(32,32,51);
    min-height: 62px;
    width: 100%;
    position: relative;
    margin-bottom: 3.6vh;
}

.User .content-user {
    
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.User figure{

    margin: 0;
    position: relative;
}


.User span a{

    color: #fff;
}
.User .content-user span {

    color: #fff;
    font-size: 3.6vh;
    transition: .13s linear all;
    margin: 0 7vh;
}


.User .content-user span:hover {

    transform: scale( 1.2 );
}

.User figure:hover figcaption {

    opacity: 0;
}


.User figcaption {
    transition: .2s linear all;
    cursor: default; 
    position: absolute;
    top: 0;
    padding: .25vh .3vh;
    width: 80%;
    left: 10%;
    background: rgba(0,0,0,.85);
    top: 50%;
    transform: translateY( -50% );
    text-align: center;
    color:#fff;
    font-weight: 600;
}

@media screen and (max-width: 500px) , (max-height:375px) {

    .User figure img {

        display: inline-block;
        width: 55px;
    }

    .User figure {

        overflow: hidden;
        width: 55px;
        height: auto;
        position: sticky;
    }
    
    
    .User figcaption {

        /* text-align: center; */
        position: sticky;
        background: transparent;
        font-size: .56rem;
    }

    
    .User figure:hover figcaption {

        opacity: 1;
        
    }

}