.Logged {

    background-image: url('./bg.jpg');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.Logged section.banner-sm-screen p {

    font-style: italic;
    letter-spacing: .14rem;
    line-height: 1.65rem;
    color: #fff;
    width: 88%;
    margin: 4vh auto;
}

.Logged section.banner-sm-screen button {

    border: 1px solid #fff;
    padding: 2.2vh 3.6vh;
    margin-left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    border-radius: 4px;
    background: #fff;
    font-weight: 650;
    margin-top: 7.3vh;
    transition: .14s linear all;
}

.Logged section.banner-sm-screen button:active {

    opacity: .38;
}

@media screen and (max-width: 300px) , ( max-height: 225px ) {

    .micro-system {
        /* JOUEZ SUR LE POUCE */
        display: inline-block;
        font-size: 12px;
        text-decoration: underline;
        cursor: pointer;   
    }
}