html , main , body , #root {

  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide , 
.hidden {
  display: none;
}

.o-hide , 
.o-hidden {
  opacity: 0;
}

button {

  cursor: pointer;
  background: transparent;
  border: 1px solid #000;
  transition: .15s linear all;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}